body {
    margin: 0;
    background-color: lightcoral;
}

#container {
    width: 100%;
    background-color: bisque;
}

#imgLogo {
    width: 155px;
    position: relative;
    bottom: -59px;
}

a {
    margin: 9px;
    padding: 5px;
}

#header {
    width: 100%;
    position: relative;
    color: white;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.carousel-column {
    margin: auto;
}

.servicesContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.socialMedia {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    margin-top:20px;
}

.socialList {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
}

.trailDots {
    font-weight: bold;
    font-size: 25px;
}

.serviceImage {
    width: 52px;
    height: 52px;
}

.price {
    font-size: 1.9em;
}

.serviceDescription {
    font-size: 1.2em;
}

.contactImg {
    width: 62px;
    height: 62px;
}